---
import { Icon } from 'astro-icon/components';
import "./UtilityItemCompact.css";

interface Props {
    title: string;
    description: string;
    href: string;
    iconFg: string;
    iconBg: string;
    category: string;
}

const { title, description, href, iconFg, iconBg, category } = Astro.props;
---

<a
    href={href}
    class="utility-item-compact"
    data-search-title={title.toLowerCase()}
    data-search-category={category.toLowerCase()}
>
    <div class="icon-wrapper">
        <Icon name={iconFg} class="icon" style={`color: ${iconBg};`} />
    </div>
    <div class="content">
        <h3 class="title">{title}</h3>
        <p class="description">{description}</p>
    </div>
    <Icon name="mdi:arrow-right" class="arrow-icon" />
</a>

